<% page.posts.forEach(function(post, i) { %>
  <article class="post">
    <div class="meta">
      <div>
        <% if (post.user) { %>
        <span class="author">
          <%= post.user %>
        </span>
        <span>发布于</span>
        <% } %>
        <span class="date"><%= date(post.date, 'MM月DD, YYYY') %></span>
      </div>
    </div>

    <h1 class="title">
      <a href="<%- url_for(post.path) %>"><%= post.title %></a>
    </h1>

    <div class="entry-content">
      <%- post.excerpt %>
      <p class="more">
        <a href="<%- url_for(post.path) %>">阅读全文 »</a>
      </p>
    </div>

  </article>
  <% }) %>
  <%- partial('_partial/pagination') %>